{% extends "site_base.html" %}

{% block head_title %}Home{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="span4"><h1>About</h1></div>
<div class="span12"><p>dial<b>assist</b> is phone service that wants to help you stay in touch with those you care about.  Use it to schedule weekly, bi-weekly or monthly phone calls.</p>
<p>dial<b>assist</b> was formed at Start-up Weekend Boston October, 2011 by <a href="http://noderabbit.com/">Nate Aune</a>, Teddy Wing, John Coogan, SuiLinYap, Nick Pigott and <a href="http://SteveHershman.com/">Steve Hershman</a>.</div>
</div> <!-- /row -->
</div> <!-- /container -->
{% endblock %}


