{% extends "site_base.html" %}

{% block head_title %}Home{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="span4"><h1>About</h1></div>
<div class="span12"><p>pickup<b>connect</b> is phone service that wants to help you stay in touch with those you care about.  Use it to schedule weekly, bi-weekly or monthly phone calls.</p>
<p>pickup<b>connect</b> was formed at Start-up Weekend Boston October, 2011 by <a href="http://noderabbit.com/">Nate Aune</a>, <a href="http://nteddywing.com/"</a>Teddy Wing</a>, <a href="
<a href="http://www.linkedin.com/profile/view?id=65195525">John Coogan</a>, SuiLin Yap, Nick Pigott and <a href="http://SteveHershman.com/">Steve Hershman</a>.</div>
</div> <!-- /row -->
</div> <!-- /container -->
{% endblock %}


