{% extends 'userena/base_userena.html' %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Sign in" %}{% endblock %}

{% block body %}
<div class="page-header">
<h1>Sign in</h1>
</div>

<div class="well">
<form action="" method="post">
  {% csrf_token %}
  <fieldset class="inlineLabels">
      {{ form|as_bootstrap }}
  </fieldset>
  <div class="actions">
      <input class="btn primary large" type="submit" value="{% trans "Log in" %}" />
  </div>
</form>
</div>
  <p class="forgot-password"><a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a></p>
</form>
{% endblock %}
